@font-face {
    font-family: Roboto-Bold;
    src: url("./fonts/Roboto/Roboto-Bold.ttf");
}


.pageList {
    display:flex;
    justify-content:center;
    font-family:Roboto-Bold;
    font-size:1.6rem;
    padding:60px 0 20px 0;
    
    

    .link {
        padding: 3px 5px;
        border: 1px solid rgba(162, 164, 166, 0.6);
        margin-right:5px;
        color:#000;
    }

    .active-link {
        background-color:#000;
        margin-right:5px;
        color:#fff;
    }
}

.link:hover {
    background-color:#000;
    color:#fff;
}


